.articles {
  padding: 0 2em 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
}

.navmenu {
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.navmenu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navmenu-nav > a {
  padding: 1.2em 1em;
  cursor: pointer;
  text-decoration: none;
  color: #222;
  border-right: 1px solid #e2e2e2;
}

.navmenu-nav > a:last-child {
  border-right: none;
}

.navmenu-nav > a:hover {
  background-color: #f6f6f6;
  transition: background-color 0.2s ease-in-out;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.articles > article {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content > p {
  cursor: pointer;
  padding: 1.2em;
  margin: 0;
}

.dropdown-content > p:hover {
  background-color: #f1f1f1;
}

.sidemenu {
  width: 20vw;
  height: 1200px;
  background-color: #fafafa;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.sidemenu-nav {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.2em;
}

.sidemenu-nav > a {
  padding: 1.2em 1em;
  cursor: pointer;
  text-decoration: none;
  color: #222;
  border-radius: 0.5em;
}

.sidemenu-nav > a:hover {
  scale: 1.05;
  background-color: #eee;
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}
